@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.btn {
	@include mix.inline-flexbox;
	@include mix.justify-content(center);
	@include mix.align-items(center);
	padding: 0;
	background-color: transparent;
	border: 1px solid transparent;
	color: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	@include mix.transition(all 0.15s ease-in-out);
}

.btn--link {
	color: var.$color-white-light;
}

.btn--link:hover {
	text-decoration: underline;
}
